---
import Layout from '../layouts/Layout.astro'
import Showcase from '../components/Showcase.astro'

const title = 'The Yemen Listening Project'
---

<Layout title={title}>
	<h1>{title}</h1>
	<Showcase />
	<p>A paragraph.</p>
</Layout>
