<a href='/' target='_self'>
	<button
		class='text-sm transition-colors duration-150 relative inline-flex items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10'
		id='back-button'
	>
		<span class='group-hover:text-burgundy'>←</span><span class='group-hover:text-burgundy inline'>Back</span>
	</button>
</a>
