---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import '../styles/tailwind.css'
import '../styles/global.css'

export interface Props {
	title?: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{title || 'The New Humanitarian'}</title>
		<!-- To do: Google Tag Manager -->
	</head>
	<body>
		<!-- Header  -->
		<!-- <Header /> -->
		<!-- Main content -->
		<slot />
		<!-- Footer  -->
		<!-- <Footer /> -->
	</body>
</html>
